saga/saga-json/order-status.json
{
  "Comment": "Applying the Saga pattern for the find endpoint of the order microservice",
  "StartAt": "PaymentStatus",
  "States": {
    "PaymentStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:117328278478:function:payment-service-dev-payment-status",
      "TimeoutSeconds": 200,
      "HeartbeatSeconds": 60,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.PaymentStatusError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.PaymentStatusResult",
      "Next": "PaymentResultStatusCode"
    },
    "PaymentResultStatusCode": {
      "Type": "Choice",
      "TimeoutSeconds": 200,
      "HeartbeatSeconds": 60,
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.PaymentStatusResult.statusCode",
              "NumericEquals": 200
            },
            {
              "Variable": "$.PaymentStatusResult.statusCode",
              "NumericEquals": 404
            }
          ],
          "Next": "OrderStatus"
        }
      ],
      "Default": "Fail"
    },
    "OrderStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:117328278478:function:orders-microservice-dev-find-order",
      "TimeoutSeconds": 200,
      "HeartbeatSeconds": 60,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.OrderStatusError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.OrderStatusResult",
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
