saga/saga-json/order-create.json
{
  "Comment": "Applying the Saga pattern for the create endpoint of the order microservice",
  "StartAt": "FindUser",
  "States": {
    "FindUser": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.FindUserError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.FindUserResult",
      "Next": "CreateOrder"
    },
    "CreateOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.CreateOrderError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.CreateOrderResult",
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
