saga/saga-json/payment-cancel.json
{
  "Comment": "Applying the Saga pattern for the cancel endpoint of the payment microservice",
  "StartAt": "Pay",
  "States": {
    "Pay": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-pay",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.PayError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.PayResult",
      "Next": "FindOrder"
    },
    "FindOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.FindOrderError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.FindOrderResult",
      "Next": "AddUserCredit"
    },
    "AddUserCredit": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.AddUserCreditError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.AddUserCreditResult",
      "Next": "AddStock"
    },
    "AddStock": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.AddStockError",
          "Next": "AddStock"
        }
      ],
      "ResultPath": "$.AddStockResult",
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
