saga/order-status.json
{
  "Comment": "Applying the Saga pattern for the find endpoint of the order microservice",
  "StartAt": "PaymentStatus",
  "States": {
    "PaymentStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.PaymentStatusError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.PaymentStatusResult",
      "Next": "RemoveOrder"
    },
    "OrderStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.OrderStatusError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.OrderStatusResult",
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
