postgres/sagas/order-add-item.json
{
  "Comment": "Applying the Saga pattern for the addItem endpoint of the order microservice",
  "StartAt": "StockAvailability",
  "States": {
    "StockAvailability": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.StockAvailabilityError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.StockAvailabilityResult",
      "Next": "AddItemOrder"
    },
    "AddItemOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.AddItemOrderError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.AddItemOrderResult",
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
