postgres/sagas/order-remove.json
{
  "Comment": "Applying the Saga pattern for the remove endpoint of the order microservice",
  "StartAt": "RemovePayment",
  "States": {
    "RemovePayment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.FindUserError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.FindUserResult",
      "Next": "RemoveOrder"
    },
    "RemoveOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-{ADD ROUTE HERE}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.RemoveOrderError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.RemoveOrderResult",
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
