postgres/sagas/order-checkout.json
{
  "Comment": "Applying the Saga pattern for the checkout endpoint of the order microservice",
  "StartAt": "Payment",
  "States": {
    "Payment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-find-order",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.PaymentError",
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.PaymentResult",
      "Next": "SubtractStock"
    },
    "SubtractStock": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:{AccountID}:function:lambda-saga-dev-",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.SubtractStockError",
          "Next": "CancelPayment"
        }
      ],
      "ResultPath": "$.SubtractStockResult",
      "End": true
    },
    "CancelPayment": {
      "Type": "Task",
      "Resource": "{ADD ARN ROUTE HERE FOR STEP FUNCTION OF PAYMENT-PAY}",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.CancelPaymentError",
          "Next": "CancelPayment"
        }
      ],
      "ResultPath": "$.CancelPaymentResult",
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
